<!DOCTYPE html>
<html ng-app="trainingApp">
	<head>
		<title>Learning AngularJS</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
		<script src="trainingApp.js"></script>
		<script src="trainingController.js"></script>
		<script src="teamController.js"></script>
		<script src="userListDirective.js"></script>
	</head>
	<body>
		<div id="wrapper" ng-controller="trainingController as trainCtrl">
			<div ng-class="{'trololo': trololo}">
				<h1>{{ course }}</h1>
				<h2 ng-bind="trainCtrl.course"></h2>
				<h3 ng-click="getCourse()">title</h3>
				<p>Team: {{team.length}} </p>
				<div ng-show="team.length > 6">
					<p>Hello team!</p>
				</div>
				<div ng-hide="team.length > 6">
					<p>Hello world!</p>
				</div>
				<div ng-if="!!trainies">
					Trainies
				</div>
		</div>
		<hr/>
		<div data-user-list="team"></div>
		<hr/>
		<br/>
		<div>
			Number: {{ number | currency : '$' : 1 }}
		</div>
		<div>
			String: {{ string | uppercase }}
		</div>
		<div>
			Start date: {{ startDate | date : 'fullDate' }}
		</div>
		<div>
			Team: {{ team | json }}
		</div>
		<div>
			Limit team: {{ team | limitTo : 2}}
		</div>
		
		<input type="text" ng-model="filteredUser"/>
		
		<ul class="trainee-list">
			<li ng-repeat="trainee in team  | filter: {name: filteredUser}">
				{{ trainee.name }}	
			</li>
		</ul>
		

	<!--		
		<div ng-switch="lesson">
			<p ng-switch-when="1">Lesson 1</p>
			<p ng-switch-when="2">Lesson 2</p>
			<p ng-switch-when="3">Lesson 3</p>
			<p ng-switch-when="4">Lesson 4</p>
			<p ng-switch-default>Lesson X</p>
		</div>
		<div ng-controller="teamController">
			<ul>
				<li ng-repeat="trainee in team">
					{{trainee.name}} has {{trainee.skill}}
				</li>
			</ul>
		</div>
	-->		
		
		</div>
	</body>
</html>